.container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0px !important;
  padding: 0px !important;
}

.atag {
  text-decoration: none;
  color: black;
  text-align: center;
  /* width:20rem; */
}

p {
  font-size: large;
}

#fircol {
  background-color: lightgray;
  width: 13em;
}

#seccol {
  padding: 1rem;
  margin: 0rem;
}

@media (max-width: 320px) {
  #fircol {
    width: 5rem;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #fircol {
    width: 6rem;
  }

  #seccol {
    padding: 0rem;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  #fircol {
    width: 10rem;
  }

  #seccol {
    display: grid;
    padding: 0rem;
  }
}
