.container {
  display: grid;
  grid-template-columns: 200px auto;
  margin: 0px !important;
  padding: 0px !important;
}

.atag {
  text-decoration: none;
  color: black;
  text-align: center;
}

p {
  font-size: large;
}

#fircol {
  background-color: lightgray;
}

#seccol {
  padding: 2rem;
}
